@sm: 768px;
@md: 992px;
@lg: 1200px;

@side-width: 20vw;
@middle-width: 100vw - 2 * @side-width;
@side-angle: 25deg;
@side-angle-tangent: 0.46630765815;

body {
  font-family: Helvetica;
  color: white;
  letter-spacing: 1px;
  margin: 0;
  overflow: hidden;
  background: black;
}

a {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.page-content {
}

.about, .contact, .home, .team { .page-content; }
