@import (reference) 'main';

.nav {
  display: none;
}

@media (min-width: @sm) {
  .nav {
    width: @side-width;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: 2px solid white;

    transform-origin: 0 0;
    transform: skew(0, @side-angle);
  }

  .nav a {
    text-decoration: none;
  }

  .nav > * {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0rem;
    color: black;
    background: white;
    font-size: 14px;
    width: 80%;
    &:first-child {
      margin-top: 1rem;
    }
  }
}
